{% extends "base.html" %}
{% block content %}
    <section class="hero">
        <div class="container">
            <img class=circular-image src="https://codingal.s3.amazonaws.com/media/userdata/469795/avatars/bob4ee8c955-7da4-46fe-a882-75b3db913df3.png" alt="bob">
            <h1>Welcome to Bob Chopra Universe</h1>
            <p>Explore the wonders of education and technology.</p>
            <!-- <a href="#content" class="cta-button">Discover More</a> -->
        </div>
    </section>
{% endblock %}
        


