{% extends "base.html" %}
{% block title %}Learn More - Bob Chopra Universe{% endblock %}

{% block content %}
<h1><i>Learn More About Bob</i></h1>
<p><i>Hello I am Bob Chopra I am 8 and i attend the regarde familia school for entranpuanuruship I also cole cirtificates from stanford in computers scince and mit in
    \ entrepunarurship i have 4 siblings and their names are bob,max,lilly,zak"just got smacked"I am from india and my hobbies are gamming swimming ,and tennis,i also like making videos examples of my videos like "max and lilly are baby's , we can only touch the colour of my shirt ,and can you find the rianbow"</i></p>
{% endblock %}